[dropdown-trigger] {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-bottom: 1px solid;

  font-size: 18px;

  line-height: 1.4rem;
}

[dropdown-option] {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 12rem;

  min-height: 2.5rem;

  padding: 0.25rem 0.5rem;

  white-space: nowrap;
  text-overflow: ellipsis;

  cursor: pointer;
}
