[dropdown-option] {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 12rem;

  min-height: 2.5rem;

  padding: 0.25rem 0.5rem;

  white-space: nowrap;
  text-overflow: ellipsis;

  cursor: pointer;
}
