<h1>Multiselect</h1>

<button>Focus target</button>

<app-multiselect class="multi"></app-multiselect>

<a href="#">Focus Target</a>

<h2>Content after select:</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ea molestiae explicabo optio dolor minus, fugit quod
  quaerat nesciunt deleniti eaque in cum dolorum adipisci eligendi libero esse ipsam consectetur?</p>

<p>Suscipit, repellat ullam. Quasi magni eligendi nam mollitia ratione qui velit hic harum, nulla aliquam iste
  distinctio adipisci, voluptates labore placeat saepe aliquid ad fuga omnis corporis repellendus. Quam, harum.</p>

<p>Dolorem quasi veniam laborum, numquam provident quaerat eos placeat, accusamus consectetur optio aliquam
  exercitationem voluptates porro nostrum sequi a deleniti fugiat aspernatur eveniet. Fuga voluptates, itaque provident
  temporibus quisquam corporis.</p>
