<h1>Dropdown demos:</h1>

<p>Each of the examples below is interactive. They are all variations of a dropdown.</p>

<h2>Menu</h2>
<p>Allows selection of an option, and outputs it through an event emitter. It can also have non reactive elements, like a spacer for example.</p>

<h3>with different triggers:</h3>

<div class="row">
  context:
  <app-menu
    class="dropdown"
    [options]="menuOptions"
    (selected)="onMenuSelect($event)"
  >
    <div class="menu-context icon-context" menu-trigger></div>
  </app-menu>

  text:
  <app-menu
    class="dropdown"
    [options]="menuOptions"
    (selected)="onMenuSelect($event)"
  >
    <span class="menu-text" menu-trigger>MENU</span>
  </app-menu>

  burger:
  <app-menu
    class="dropdown"
    [options]="menuOptions"
    (selected)="onMenuSelect($event)"
  >
     <div class="menu-burger icon-burger" menu-trigger></div>
  </app-menu>

  text + icon:
  <app-menu
    class="dropdown"
    [options]="menuOptions"
    (selected)="onMenuSelect($event)"
  >
    <div class="menu-mix" menu-trigger>
      MENU
      <span class="icon-burger"></span>
    </div>
  </app-menu>
</div>

<a href="#">Focus Target</a>

<p>Burger:</p>
<a href="#">Focus Target</a>

<app-menu
  class="dropdown"
  [options]="menuOptions"
  (selected)="onMenuSelect($event)"
>
  <span menu-trigger>MENU</span>
</app-menu>

<a href="#">Focus Target</a>

<hr />

<h2>Select</h2>
<a href="#">Focus Target</a>

<app-select
  class="dropdown"
  [options]="multiSelectOptions"
  (selected)="onSelect($event)"
>
</app-select>

<a href="#">Focus Target</a>

<p>Allows selection of one option, and outputs it through an event emitter.</p>

<hr />

<h2>Multiselect</h2>
<a href="#">Focus Target</a>

<app-multi-select
  class="dropdown"
  [options]="multiSelectOptions"
  (selected)="onMultiSelect($event)"
>
</app-multi-select>

<a href="#">Focus Target</a>

<p>
  Allows selection of multiple options, and outputs them through an event
  emitter.
</p>
