<h1>Dropdown demos:</h1>

<h2>Menu (Context)</h2>
<button>Focus target</button>

<app-menu class="dropdown" [options]="menuOptions" (selected)="onMenuSelect($event)">
</app-menu>

<a href="#">Focus Target</a>

<p>Allows selection of an option, and outputs it through an event emitter.</p>

<hr>

<h2>Select</h2>
<button>Focus target</button>

<app-select class="dropdown" [options]="multiSelectOptions" (selected)="onSelect($event)">
</app-select>

<a href="#">Focus Target</a>

<p>Allows selection of one option, and outputs it through an event emitter.</p>

<hr>

<h2>Multiselect</h2>
<button>Focus target</button>

<app-multi-select class="dropdown" [options]="multiSelectOptions" (selected)="onMultiSelect($event)">
</app-multi-select>

<a href="#">Focus Target</a>

<p>Allows selection of multiple options, and outputs them through an event emitter.</p>
