<details #select (clickOutside)="select.removeAttribute('open')">
  <summary>Toggle Multiselect</summary>

  <ul class="options">
    <li><label><input type="checkbox">Option number 1</label></li>
    <li><label><input type="checkbox">Option number 2</label></li>
    <li><label><input type="checkbox">Option number 3</label></li>
    <li><label><input type="checkbox">Option number 4</label></li>
    <li><label><input type="checkbox">Option number 5</label></li>
    <li><label><input type="checkbox">Option number 6</label></li>
    <li><label><input type="checkbox">Option number 7</label></li>
    <li><label><input type="checkbox">Option number 8</label></li>
    <li><label><input type="checkbox">Option number 9</label></li>
    <li><label><input type="checkbox">Option number 10</label></li>
    <li><label><input type="checkbox">Option number 11</label></li>
    <li><label><input type="checkbox">Option number 12</label></li>
    <li><label><input type="checkbox">Option number 13</label></li>
    <li><label><input type="checkbox">Option number 14</label></li>
    <li><label><input type="checkbox">Option number 15</label></li>
    <li><label><input type="checkbox">Option number 16</label></li>
    <li><label><input type="checkbox">Option number 17</label></li>
    <li><label><input type="checkbox">Option number 18</label></li>
    <li><label><input type="checkbox">Option number 19</label></li>
    <li><label><input type="checkbox">Option number 20</label></li>
  </ul>
</details>
