:host {
  display: inline-block;
}

::-webkit-details-marker {
  display: none;
}

summary {
  cursor: pointer;

  details[open] &,
  &:focus,
  &:hover {
    background-color: #f7f7f7;
  }
}

.anchor {
  position: relative;
}

.options {
  position: absolute;

  top: 0.5rem;

  max-height: 12rem;
  margin: 0;
  padding: 0;
  border: 1px solid;
  overflow: auto;

  background-color: white;
}

::ng-deep [dropdown-option] {
  user-select: none;

  &:hover {
    background-color: #f7f7f7;
  }

  &:focus-within {
    background-color: #ededed;
  }
}
