/* You can add global styles to this file, and also import other style files */
// RESET
*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  border-width: 0;

  color: inherit;
  text-align: inherit;

  background-color: transparent;
  cursor: pointer;
}
